[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar http://pourvous-brasschaat.be/gallery/g.jpg
Type=Link
URL=http://pourvous-brasschaat.be/gallery/g.jpg
Icon=image-jpeg
Name[nl_NL]=deco.jpg
