[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar http://pourvous-brasschaat.be/gallery/pour-vous-2-Bredabaan-475-022_028q93qu.jpg
Type=Link
URL=http://pourvous-brasschaat.be/gallery/pour-vous-2-Bredabaan-475-022_028q93qu.jpg
Icon=image-jpeg
Name[nl_NL]=entree.jpg
