[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar http://pourvous-brasschaat.be/gallery/pour-vous-2-Bredabaan-475-011.jpg
Type=Link
URL=http://pourvous-brasschaat.be/gallery/pour-vous-2-Bredabaan-475-011.jpg
Icon=image-jpeg
Name[nl_NL]=gang.jpg
